/* zack */
body {
    margin: 0px;
}

.zack-query-box {
    background-color:rgba(0,0,0,0.2);
    position: fixed;
    z-index: 10000;
    padding: 8px;
    top: 20px;
    left: 20px;
    right: 20px;
}

.zack-overview {
    background-color:rgba(0,0,0,0.1);
    position: fixed;
    max-height: 18%;
    height: 18%;
    z-index: 10000;
    padding: 8px;
    bottom: 0;
    left: 0;
    right: 0;
}


.zack-result {
    height: 70px;
    border-top: 2px solid black;
    overflow: hidden;
}

.zack-result-list {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.zack-big {
    font-size: 18px;
    margin: 0;
}


.result-level {
    width: 70px;
    height: 20px;
    text-align: center;
    color: white;
}

.result-level-wrap {
    width: 20px;
    height: 100%;
    float: left;
    text-align: center;
    color: white;
}


.result-main {
    width: 30%;
    margin-left: 30px;
}

/* max-height - the only parameter in this file that needs to be edited.
 * Change it to suit your needs. The rest is recommended to leave as is.
 */
.clusterize-scroll{
  overflow: auto;
  max-height: 80%;
}

/* By default extra tag .clusterize-keep-parity added to keep parity of rows.
 * Useful when used :nth-child(even/odd)
 */
.clusterize-extra-row.clusterize-keep-parity{
  display: none;
}

/* During initialization clusterize adds tabindex to force the browser to keep focus
 * on the scrolling list, see issue #11
 * Outline removes default browser's borders for focused elements.
 */
.clusterize-content{
    outline: 0;
    margin-top: 80px;
}

.clusterize-no-data {
    margin-left: 35px;
}

.space {
    display: none;
}

.vertical-text {
    transform: rotate(-90.0deg) translate(-100%, 0%) ;
    transform-origin: top left;
}

@media (min-width: 550px) {
    .space {
        display: inherit;
    }
}

