<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
 <div class="page-header"></div>

 <div class="container">
	 <div class="row">
		 <div class="col-xs-1">
			 <img class="img-responsive" src="/images/Coat_of_arms_of_Switzerland.svg" />
		 </div>

		 <div class="col-xs-10">
    <h1>404 - Not Found</h1>
		 </div>

		 <div class="col-xs-1"></div>
	 </div>
 </div>

 <script src="/js/jsonld.js"></script>
 <script src="/js/react.js"></script>
 <script src="/js/render-ld.js"></script>
</body>
</html>
